#/////////////////////////////////////////////////////////////////////////////
# Directories
#/////////////////////////////////////////////////////////////////////////////

dist/
.cabal-sandbox/

#/////////////////////////////////////////////////////////////////////////////
# Files
#/////////////////////////////////////////////////////////////////////////////

cabal.sandbox.config
ChangeLog.md
Setup.hs
